* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::-moz-selection {
  color: white;
  background-color: black;
}

::selection {
  color: white;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

.enter-animation {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 1001;
  -webkit-animation: slide-out-blurred-right 3s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
          animation: slide-out-blurred-right 3s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

.enter-animation h1 {
  text-align: center;
}

.enter-animation h1 .letter_entarance {
  display: inline-block;
  color: #004eb3;
  font-size: 17.5rem;
  font-family: 'Dancing Script', cursive;
}

.aside-float-box-container {
  position: fixed;
  top: 10rem;
  right: 0;
  padding: 1.5rem 1rem 1.5rem 4rem;
  background-color: #004eb3;
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
          clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  z-index: 20;
  -webkit-animation: bounce-left 0.8s 4s 1 both;
          animation: bounce-left 0.8s 4s 1 both;
}

.aside-float-box-container h1 {
  color: white;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

.container, .container .container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #fafafa;
  overflow: hidden;
}

.container .container-wrap .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.container .container-wrap .header .h1-home-header {
  width: 100%;
  font-size: 10rem;
  text-transform: uppercase;
  text-align: center;
  color: #004eb3;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 10px 12px 1px rgba(0, 66, 141, 0.267);
}

.container .container-wrap .header .letter_header {
  display: inline-block;
}

.container .container-wrap .header .arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
}

.container .container-wrap .header .arrow-down .fa-chevron-down {
  font-size: 3rem;
  color: #004eb3;
  -webkit-animation: arrowDown 2s linear infinite both;
          animation: arrowDown 2s linear infinite both;
}

.container .container-wrap .header .arrow-down-hidden {
  opacity: 0;
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.container .container-wrap .header .arrow-none {
  display: none;
}

.container .container-wrap .h1_contact {
  color: rgba(41, 41, 41, 0.815);
  font-family: 'Economica', sans-serif;
  font-size: 8rem;
  margin: 50px;
}

.container .container-wrap .h1_contact a {
  color: black;
}

.container .container-wrap .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-height: 20vh;
  font-family: 'Economica', sans-serif;
}

.container .container-wrap .content .blue-sq {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  min-width: 900px;
  height: auto;
  min-height: 700px;
  border: 8px solid #004eb3;
  margin-bottom: 250px;
}

.container .container-wrap .content .blue-sq .blue-sq-txt {
  position: absolute;
  top: 30%;
  right: -15%;
  padding: 40px 50px;
  background-color: #fafafa;
}

.container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-h1,
.container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-p {
  color: rgba(41, 41, 41, 0.815);
  font-family: 'Economica', sans-serif;
}

.container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-h1 {
  font-size: 8rem;
}


.container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-p {
  font-size: 1.8rem;
}

.container .container-wrap .content .blue-sq .sign {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
}

.container .container-wrap .content .blue-sq .img-container {
  position: absolute;
}

.container .container-wrap .content .blue-sq .contact-form {
  margin: 5rem;
}

.container .container-wrap .content .blue-sq .contact-form form {
  padding: 80px 100px;
  -webkit-box-shadow: 2px -2px 35px 2px rgba(128, 128, 128, 0.733);
          box-shadow: 2px -2px 35px 2px rgba(128, 128, 128, 0.733);
  border-radius: 10px;
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap {
  font-family: 'Kaushan Script', cursive;
  color: #004eb3;
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap label {
  font-size: 1.4rem;
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .input {
  font-family: 'Kaushan Script', cursive;
  border: none;
  border-bottom: 1px solid #004eb3;
  margin-bottom: 1rem;
  padding: 5px;
  outline-style: none;
  color: rgba(41, 41, 41, 0.815);
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .textarea {
  border: 1px solid #004eb3;
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .input:focus {
  border-bottom: 2px solid rgba(0, 55, 128, 0.747);
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .textarea:focus {
  border: 1px solid rgba(0, 55, 128, 0.747);
  background-color: rgba(216, 240, 240, 0.616);
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .submit {
  background-color: #004eb3;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-radius: 1rem;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .submit:hover {
  -webkit-box-shadow: 0 0 10px 2px rgba(41, 41, 41, 0.815);
          box-shadow: 0 0 10px 2px rgba(41, 41, 41, 0.815);
}

.container .container-wrap .content .blue-sq .img-container {
  bottom: 25%;
  left: 0;
  width: 50%;
  height: 50%;
}

.container .container-wrap .content .blue-sq .img-container img {
  width: 120%;
}

.container .container-wrap .content .img-txt-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  z-index: 10;
}

.container .container-wrap .content .img-txt-wrap .img-txt_img,
.container .container-wrap .content .img-txt-wrap .img-txt_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 700px;
  font-family: 'Economica', sans-serif;
}

.container .container-wrap .content .img-txt-wrap .img-txt_img {
  -webkit-filter: drop-shadow(0 -30px 100px rgba(107, 107, 107, 0.644));
          filter: drop-shadow(0 -30px 100px rgba(107, 107, 107, 0.644));
}

.container .container-wrap .content .img-txt-wrap .img-txt_img .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.container .container-wrap .content .img-txt-wrap .img-txt_img .img-wrap img {
  width: 110%;
}


.container .container-wrap .content .img-txt-wrap .img-txt_txt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(41, 41, 41, 0.815);
  margin: 0 3rem;
}

.container .container-wrap .content .img-txt-wrap .img-txt_txt h1 {
  text-align: center;
  font-size: 10rem;
}

.container .container-wrap .content .img-txt-wrap .img-txt_txt p {
  text-align: left;
  font-size: 3rem;
}

.container .container-wrap .content .flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .container-wrap .content .flex-reverse .img-txt_img .img-wrap img {
  -webkit-mask-image: url(../img/photo_4.png);
          mask-image: url(../img/photo_4.png);
  width: 140%;
}

.container .container-wrap .content .page-txt-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 20vh;
  background-color: rgba(189, 189, 189, 0.082);
}

.container .container-wrap .content .page-txt-img .bg-man {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/photo_5.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0% 100%);
          clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0% 100%);
  -webkit-mask-image: url(../img/photo_7.png);
          mask-image: url(../img/photo_7.png);
  opacity: .5;
}

.container .container-wrap .content .page-txt-img .h1-title-section-wrap {
  position: relative;
  width: auto;
  min-width: 30%;
  height: auto;
  padding: 10rem;
}

.container .container-wrap .content .page-txt-img .h1-title-section-wrap .right-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 10rem;
  -webkit-clip-path: polygon(0 41%, 100% 73%, 100% 0, 0 0);
          clip-path: polygon(0 41%, 100% 73%, 100% 0, 0 0);
}

.container .container-wrap .content .page-txt-img .h1-title-section-wrap .mk-1 {
  -webkit-clip-path: polygon(0 41%, 100% 73%, 100% 100%, 0% 100%);
          clip-path: polygon(0 41%, 100% 73%, 100% 100%, 0% 100%);
  color: #004eb3;
  border: 5px solid #004eb3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.container .container-wrap .content .page-txt-img .h1-title-section-wrap .mk-2 {
  border: 5px solid rgba(0, 0, 0, 0);
  color: #002f6d;
  -webkit-filter: drop-shadow(-5px -5px 2px rgba(99, 99, 99, 0.589));
          filter: drop-shadow(-5px -5px 2px rgba(99, 99, 99, 0.589));
}

.container .container-wrap .content .page-txt-img .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 20px 100px;
  z-index: 1;
  font-family: 'Economica', sans-serif;
}

.container .container-wrap .content .page-txt-img .text-wrap .h1_title {
  font-size: 9.5rem;
  margin-bottom: 2rem;
}

.container .container-wrap .content .page-txt-img .text-wrap p {
  font-size: 4.5rem;
  padding: 1rem 0;
}

.container .container-wrap .content .page-txt-img .text-wrap .h1_title, .container .container-wrap .content .page-txt-img .text-wrap p {
  color: rgba(41, 41, 41, 0.815);
  text-shadow: 1px 1px 1px white;
  text-align: center;
}

.container .container-wrap .content .page-txt-img .text-wrap .p-small,
.container .container-wrap .content .page-txt-img .text-wrap .p-big {
  padding: 4rem;
}

.container .container-wrap .content .page-txt-img .text-wrap .p-small {
  width: 50%;
}

.container .container-wrap .content .page-txt-img .text-wrap .p-small a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}


.container .container-wrap .content .page-txt-img .text-wrap .p-big {
  width: 90%;
  font-size: 6rem;
}

.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap {
  position: relative;
  width: 50%;
  height: auto;
  min-height: 50vh;
}

.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/photo_6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  -webkit-filter: grayscale(95%);
          filter: grayscale(95%);
}

.container .container-wrap .content .page-txt-img .txt-p1 {
  font-size: 4rem;
  margin: 1rem 2rem;
  padding: 2rem 15rem;
}

.container .container-wrap .content .page-txt-img .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .container-wrap .content .padding-0 {
  padding: 0;
}

.container .container-wrap .content .bg-grey-light {
  background-color: snow;
}

.container .container-wrap .content .bx {
  opacity: 0;
}

.container .container-wrap .content .li-visible {
  -webkit-animation: swing-in-bottom-fwd 1.2s cubic-bezier(0.44, 0.94, 0.17, 1.38) both;
          animation: swing-in-bottom-fwd 1.2s cubic-bezier(0.44, 0.94, 0.17, 1.38) both;
}

.container .container-wrap .content .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1366px) {
  .enter-animation h1 {
    font-size: 5rem;
  }
  .container .container-wrap .header .h1-home-header {
    font-size: 9rem;
  }
  .container .container-wrap .header .arrow-down {
    bottom: 4rem;
  }
  .container .container-wrap .header .arrow-down .fa-chevron-down {
    font-size: 2.5rem;
  }
  .container .container-wrap .content .blue-sq {
    min-width: 700px;
    min-height: 600px;
    border-width: 7px;
  }
  .container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-h1 {
    font-size: 7.5rem;
  }
  
  .container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-p {
    font-size: 1.9rem;
  }
  .container .container-wrap .content .img-txt-wrap .img-txt_img,
  .container .container-wrap .content .img-txt-wrap .img-txt_txt {
    width: 450px;
    height: 550px;
  }
  .container .container-wrap .content .img-txt-wrap .img-txt_img .img-wrap img {
    width: 100%;
  }
  .container .container-wrap .content .img-txt-wrap .img-txt_txt h1 {
    font-size: 7rem;
  }
  .container .container-wrap .content .img-txt-wrap .img-txt_txt p {
    font-size: 2rem;
  }
  .container .container-wrap .content .page-txt-img {
    padding-top: 6rem;
  }
  .container .container-wrap .content .page-txt-img .h1-title-section-wrap {
    width: 30%;
  }
  .container .container-wrap .content .page-txt-img .h1-title-section-wrap .right-h1 {
    font-size: 7rem;
  }
  .container .container-wrap .content .page-txt-img .text-wrap .p-small {
    font-size: 3.5rem;
    width: 50%;
    padding: .5rem;
  }
  .container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap {
    width: 50%;
  }
  .container .container-wrap .content .page-txt-img .txt-p1 {
    font-size: 3rem;
    padding: .5rem 14rem;
  }
  .container .container-wrap .content .li-visible {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .enter-animation h1 .letter_entarance {
    font-size: 10rem;
  }
  .container .container-wrap .header .arrow-down .fa-chevron-down {
    font-size: 2rem;
  }
  .container .container-wrap .content .blue-sq {
    min-width: 600px;
    min-height: 450px;
    border-width: 5px;
  }
  .container .container-wrap .content .blue-sq .blue-sq-txt {
    top: 15%;
  }
  .container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-h1 {
    font-size: 5.5rem;
  }
  
  .container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-p {
    font-size: 1.4rem;
  }
  .container .container-wrap .content .blue-sq .img-container {
    bottom: 15%;
    left: 5%;
  }
  .container .container-wrap .content .blue-sq .img-container img {
    width: 100%;
  }
  .container .container-wrap .content .img-txt-wrap .img-txt_img .img-wrap img {
    width: 85%;
  }
  .container .container-wrap .content .page-txt-img {
    padding: 6rem 0;
  }
  .container .container-wrap .content .page-txt-img .h1-title-section-wrap {
    width: 40%;
  }
  .container .container-wrap .content .page-txt-img .h1-title-section-wrap .right-h1 {
    font-size: 6.5rem;
  }
  .container .container-wrap .content .page-txt-img .text-wrap .p-small {
    font-size: 3rem;
    width: 45%;
  }
  .container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap {
    width: 50%;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .enter-animation h1 .letter_entarance {
    font-size: 10rem;
  }
  .container .container-wrap .header .arrow-down {
    bottom: 6rem;
  }
  .container .container-wrap .header .arrow-down .fa-chevron-down {
    font-size: 3rem;
  }
  .container .container-wrap .content .blue-sq {
    min-width: 700px;
    min-height: 650px;
    border-width: 6px;
  }
  .container .container-wrap .content .blue-sq .blue-sq-txt {
    top: 20%;
  }
  .container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-h1 {
    font-size: 7.5rem;
  }
  
  .container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-p {
    font-size: 1.8rem;
  }
  .container .container-wrap .content .blue-sq .img-container {
    bottom: 10%;
    left: 5%;
  }
  .container .container-wrap .content .blue-sq .img-container img {
    width: 120%;
  }
  .container .container-wrap .content .img-txt-wrap .img-txt_img,
  .container .container-wrap .content .img-txt-wrap .img-txt_txt {
    width: 80%;
    height: 550px;
  }
  .container .container-wrap .content .img-txt-wrap .img-txt_img .img-wrap img {
    width: 100%;
  }
  .container .container-wrap .content .img-txt-wrap .img-txt_txt h1 {
    font-size: 10rem;
  }
  .container .container-wrap .content .img-txt-wrap .img-txt_txt p {
    font-size: 4rem;
  }
  .container .container-wrap .content .page-txt-img {
    padding: 1rem 0;
  }
  .container .container-wrap .content .page-txt-img .h1-title-section-wrap {
    width: 50%;
  }
  .container .container-wrap .content .page-txt-img .h1-title-section-wrap .right-h1 {
    font-size: 8.5rem;
  }
  .container .container-wrap .content .page-txt-img .text-wrap .p-small {
    font-size: 5rem;
    width: 100%;
  }
  .container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap {
    width: 80%;
    padding: 7rem 0;
    height: 20vh;
  }
  .container .container-wrap .content .page-txt-img .txt-p1 {
    font-size: 5rem;
    padding: .5rem 10rem;
  }
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}

@-webkit-keyframes loadOpacity {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadOpacity {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    text-shadow: 0 -10px 1px #004eb3;
  }
  100% {
    text-shadow: 0 -10px 1px #004eb3;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes arrowDown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    text-shadow: 0 -10px 1px #004eb3;
  }
  100% {
    text-shadow: 0 -10px 1px #004eb3;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

@-webkit-keyframes bounce-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-6.5px);
            transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-6.5px);
            transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(1);
            transform: translateX(1000px) scaleX(2) scaleY(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
    z-index: -1;
  }
}

@keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(1);
            transform: translateX(1000px) scaleX(2) scaleY(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
    z-index: -1;
  }
}

.alert,
.close-btn,
.alert-success {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 8rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  z-index: 10;
}

.alert-warning {
  background-color: #ffd0d0;
  border-color: maroon;
  color: maroon;
}

.alert-success {
  background-color: #c6ffc6;
  border-color: green;
  color: green;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-alert {
  display: none;
}

.hide-alert {
  -webkit-animation: hide-alert 3s linear 1 both;
          animation: hide-alert 3s linear 1 both;
}

@-webkit-keyframes hide-alert {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide-alert {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  -webkit-transition: .5s linear;
  transition: .5s linear;
  z-index: 100;
}

.navbar .nav-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.navbar .nav-container .mj-logo,
.navbar .nav-container .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-filter: drop-shadow(2px 2px 1px #3f3e3e);
          filter: drop-shadow(2px 2px 1px #3f3e3e);
  font-family: 'Roboto', sans-serif;
}

.navbar .nav-container .mj-logo {
  width: 25%;
  position: relative;
  z-index: 100;
}

.navbar .nav-container .mj-logo h1 {
  color: #004eb3;
  font-size: 3.5rem;
  font-family: 'Dancing Script', cursive;
}

.navbar .nav-container .mj-logo h1 .letter {
  display: inline-block;
}

.navbar .nav-container .nav-ul {
  width: 50%;
}

.navbar .nav-container .nav-ul li {
  list-style: none;
  margin: 0 20px;
}

.navbar .nav-container .nav-ul li a {
  position: relative;
  display: block;
  padding: 5px 20px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #004eb3;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: center;
  overflow: hidden;
}

.navbar .nav-container .nav-ul li a:hover {
  color: #003079;
}

.navbar .nav-container .nav-ul li a::after {
  position: absolute;
  content: "";
  bottom: 1px;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 78, 179, 0.418);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.navbar .nav-container .nav-ul li a:hover::after {
  left: 0;
}

.navbar .scroll-progress {
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  background-color: #004eb3;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.navbar-scrolled {
  height: 5rem;
}

@media (max-width: 1024px) {
  .navbar {
    border-bottom: none;
  }
  .navbar .nav-container .nav-ul {
    display: none;
  }
  .navbar .nav-container .nav-ul-media {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 4.5rem);
    background-color: #f7f7f7;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(255, 255, 255, 0));
            filter: drop-shadow(2px 2px 1px rgba(255, 255, 255, 0));
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
  }
  .navbar .nav-container .nav-ul-media li a {
    display: block;
    opacity: 0;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    font-size: 6.5rem;
  }
  .navbar .nav-container .nav-ul-media-show {
    top: 4.5rem;
  }
  .navbar .nav-container .nav-ul-media-show li .a-opacity-1 {
    -webkit-animation: tilt-in-right-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: tilt-in-right-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
  .navbar .nav-container .bars-container {
    position: absolute;
    top: 1rem;
    right: 4rem;
    width: 3rem;
    height: 3rem;
    -webkit-transition: 0.6s cubic-bezier(0.88, 0.07, 0.53, 1.49);
    transition: 0.6s cubic-bezier(0.88, 0.07, 0.53, 1.49);
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .navbar .nav-container .bars-container .bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 30%;
    -webkit-transition: 0.2s 0.2s cubic-bezier(0.74, 1.6, 0.54, 0.04);
    transition: 0.2s 0.2s cubic-bezier(0.74, 1.6, 0.54, 0.04);
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .navbar .nav-container .bars-container .bar:nth-child(1) {
    top: 40%;
  }
  .navbar .nav-container .bars-container .bar:nth-child(2) {
    top: 60%;
  }
  .navbar .nav-container .crossed-bars {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .navbar .nav-container .crossed-bars .bar {
    border-radius: 50%;
    background-color: #272727;
  }
  .navbar .nav-container .crossed-bars .bar:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .navbar .nav-container .crossed-bars .bar:nth-child(2) {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (max-width: 1024px) {
  .navbar {
    border-bottom: none;
  }
  .navbar .nav-container .mj-logo {
    width: 60%;
  }
}

@-webkit-keyframes tilt-in-right-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
            transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-right-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
            transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #202020;
  overflow: hidden;
}

footer .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

footer .footer_container .f_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  color: #c9c9c9;
}

footer .footer_container .f_box p {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
}

footer .footer_container .f_box a {
  padding: 1rem;
  text-decoration: none;
  color: #c9c9c9;
}

footer .footer_container .f_box a .fab {
  font-size: 2.2rem;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer .footer_container .f_box a .fa-instagram:hover {
  color: #e669ff;
}

footer .footer_container .f_box a .fa-facebook-f:hover {
  color: #3160fc;
}

footer .footer_container .f_box a .fab:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */