@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::-moz-selection {
  color: white;
  background-color: black;
}

::selection {
  color: white;
  background-color: black;
}

.enter-animation {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 1001;
  -webkit-animation: slide-out-blurred-right 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
          animation: slide-out-blurred-right 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

.enter-animation h1 {
  color: #0061b1;
  font-size: 17.5rem;
  font-family: 'Dancing Script', cursive;
}

.aside-float-box-container {
  position: fixed;
  top: 10rem;
  right: 0;
  padding: 1.5rem 1rem 1.5rem 4rem;
  background-color: rgba(0, 78, 179, 0.418);
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
          clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  z-index: 20;
  -webkit-animation: bounce-left 0.8s 1.1s 1 both;
          animation: bounce-left 0.8s 1.1s 1 both;
}

.aside-float-box-container h1 {
  color: white;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

.container, .container .container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #fafafa;
}

.container .container-wrap .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.container .container-wrap .header .h1-home-header {
  font-size: 12rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 10px 12px 10px rgba(184, 184, 184, 0.685), 5px 10px 10px rgba(0, 78, 179, 0.418);
}

.container .container-wrap .header .arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
}

.container .container-wrap .header .arrow-down .fa-chevron-down {
  font-size: 3rem;
  color: rgba(0, 78, 179, 0.418);
  -webkit-animation: arrowDown 2s linear infinite both;
          animation: arrowDown 2s linear infinite both;
}

.container .container-wrap .header .arrow-down-hidden {
  opacity: 0;
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.container .container-wrap .header .arrow-none {
  display: none;
}

.container .container-wrap .header-2 {
  height: 40vh;
  -webkit-animation: loadOpacity 1s linear 1 both;
          animation: loadOpacity 1s linear 1 both;
}

.container .container-wrap .header-2 .h1-home-header {
  font-size: 6rem;
  text-shadow: 5px 12px 20px rgba(114, 114, 114, 0.685);
}

.container .container-wrap .h1_contact {
  color: rgba(41, 41, 41, 0.815);
  font-family: 'Economica', sans-serif;
  font-size: 8rem;
  margin: 50px;
}

.container .container-wrap .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-height: 80vh;
  font-family: 'Economica', sans-serif;
}

.container .container-wrap .content .blue-sq {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  min-width: 900px;
  height: auto;
  min-height: 700px;
  border: 8px solid rgba(0, 78, 179, 0.418);
  margin-bottom: 250px;
}

.container .container-wrap .content .blue-sq .blue-sq-txt {
  position: absolute;
  top: 30%;
  right: -15%;
  padding: 40px 50px;
  background-color: #fafafa;
}

.container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-h1,
.container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-p {
  color: rgba(41, 41, 41, 0.815);
  font-family: 'Economica', sans-serif;
}

.container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-h1 {
  font-size: 8rem;
}


.container .container-wrap .content .blue-sq .blue-sq-txt .blue-sq-txt-p {
  font-size: 1.8rem;
}

.container .container-wrap .content .blue-sq .sign {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
}

.container .container-wrap .content .blue-sq .img-container {
  position: absolute;
}

.container .container-wrap .content .blue-sq .contact-form {
  margin: 5rem;
}

.container .container-wrap .content .blue-sq .contact-form form {
  padding: 80px 100px;
  -webkit-box-shadow: 2px -2px 35px 2px rgba(128, 128, 128, 0.733), -2px 2px 45px 2px rgba(0, 78, 179, 0.418);
          box-shadow: 2px -2px 35px 2px rgba(128, 128, 128, 0.733), -2px 2px 45px 2px rgba(0, 78, 179, 0.418);
  border-radius: 10px;
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap {
  font-family: 'Kaushan Script', cursive;
  color: rgba(0, 78, 179, 0.418);
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap label {
  font-size: 1.4rem;
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .input {
  font-family: 'Kaushan Script', cursive;
  border: none;
  border-bottom: 1px solid rgba(0, 78, 179, 0.418);
  margin-bottom: 1rem;
  padding: 5px;
  outline-style: none;
  color: rgba(41, 41, 41, 0.815);
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .textarea {
  border: 1px solid rgba(0, 78, 179, 0.418);
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .input:focus {
  border-bottom: 2px solid rgba(0, 55, 128, 0.747);
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .textarea:focus {
  border: 1px solid rgba(0, 55, 128, 0.747);
  background-color: rgba(216, 240, 240, 0.616);
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .submit {
  background-color: rgba(0, 78, 179, 0.418);
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-radius: 1rem;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.container .container-wrap .content .blue-sq .contact-form form .input-wrap .submit:hover {
  -webkit-box-shadow: 0 0 10px 2px rgba(41, 41, 41, 0.815);
          box-shadow: 0 0 10px 2px rgba(41, 41, 41, 0.815);
}

.container .container-wrap .content .blue-sq .img-container {
  bottom: 25%;
  left: 0;
  width: 50%;
  height: 50%;
}

.container .container-wrap .content .blue-sq .img-container img {
  width: 120%;
}

.container .container-wrap .content .img-txt-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  z-index: 10;
}

.container .container-wrap .content .img-txt-wrap .img-txt_img,
.container .container-wrap .content .img-txt-wrap .img-txt_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 700px;
  font-family: 'Economica', sans-serif;
}

.container .container-wrap .content .img-txt-wrap .img-txt_img {
  -webkit-filter: drop-shadow(0 -30px 100px #292929);
          filter: drop-shadow(0 -30px 100px #292929);
}

.container .container-wrap .content .img-txt-wrap .img-txt_img .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.container .container-wrap .content .img-txt-wrap .img-txt_img .img-wrap img {
  width: 110%;
}


.container .container-wrap .content .img-txt-wrap .img-txt_txt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(41, 41, 41, 0.815);
}

.container .container-wrap .content .img-txt-wrap .img-txt_txt h1 {
  font-size: 10rem;
}

.container .container-wrap .content .img-txt-wrap .img-txt_txt p {
  font-size: 3rem;
}

.container .container-wrap .content .flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .container-wrap .content .flex-reverse .img-txt_img .img-wrap img {
  -webkit-mask-image: url(../img/photo_4.png);
          mask-image: url(../img/photo_4.png);
  width: 140%;
}

.container .container-wrap .content .page-txt-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 50vh;
  padding: 50px;
}

.container .container-wrap .content .page-txt-img .bg-man {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/photo_5.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0% 100%);
          clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0% 100%);
  -webkit-mask-image: url(../img/photo_7.png);
          mask-image: url(../img/photo_7.png);
}

.container .container-wrap .content .page-txt-img .h1-title-section-wrap {
  width: 100%;
  height: auto;
  padding: 5rem;
}

.container .container-wrap .content .page-txt-img .h1-title-section-wrap .right-h1 {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 10rem;
  padding: 1rem 3rem 1rem 12rem;
  -webkit-clip-path: polygon(100% 22%, 1% 48%, 100% 79%);
          clip-path: polygon(100% 22%, 1% 48%, 100% 79%);
}

.container .container-wrap .content .page-txt-img .h1-title-section-wrap .mk-1 {
  -webkit-clip-path: polygon(100% 0, 0 100%, 0 0);
          clip-path: polygon(100% 0, 0 100%, 0 0);
  color: rgba(0, 78, 179, 0.418);
}

.container .container-wrap .content .page-txt-img .h1-title-section-wrap .mk-2 {
  color: #002f6d;
  -webkit-filter: drop-shadow(-5px -5px 2px rgba(99, 99, 99, 0.589));
          filter: drop-shadow(-5px -5px 2px rgba(99, 99, 99, 0.589));
}

.container .container-wrap .content .page-txt-img .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 20px 100px;
  z-index: 1;
  font-family: 'Economica', sans-serif;
}

.container .container-wrap .content .page-txt-img .text-wrap .h1_title {
  font-size: 9.5rem;
  margin-bottom: 2rem;
}

.container .container-wrap .content .page-txt-img .text-wrap p {
  font-size: 4.5rem;
  padding: 1rem 0;
}

.container .container-wrap .content .page-txt-img .text-wrap .h1_title, .container .container-wrap .content .page-txt-img .text-wrap p {
  color: rgba(41, 41, 41, 0.815);
  text-shadow: 1px 1px 1px white;
  text-align: center;
}

.container .container-wrap .content .page-txt-img .text-wrap .p-small,
.container .container-wrap .content .page-txt-img .text-wrap .p-big {
  padding: 4rem;
}

.container .container-wrap .content .page-txt-img .text-wrap .p-small {
  width: 50%;
}


.container .container-wrap .content .page-txt-img .text-wrap .p-big {
  width: 90%;
  font-size: 6rem;
}

.container .container-wrap .content .page-txt-img .text-wrap blockquote {
  padding: 9rem 2rem;
  margin: 15rem 0;
  font-size: 5.5rem;
  text-shadow: 2px 2px 3px black;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  background-color: rgba(44, 44, 44, 0.384);
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
          clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
  color: white;
}

.container .container-wrap .content .page-txt-img .text-wrap blockquote .blockquote-span-big {
  font-weight: 700;
  color: #ffc400;
}

.container .container-wrap .content .page-txt-img .text-wrap blockquote .author-span {
  display: block;
  font-weight: 400;
  font-size: 3.5rem;
  font-family: 'Calligraffitti', cursive;
  text-align: right;
  color: white;
}

.container .container-wrap .content .page-txt-img .text-wrap blockquote .q-quotes {
  quotes: "„" "“" "‚" "‘";
}

.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap {
  position: relative;
  width: 50%;
  height: auto;
  min-height: 50vh;
}

.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic,
.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic-2,
.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic-3 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  z-index: 0;
  font-size: 6rem;
}


.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic-3 {
  width: 100%;
  height: 100%;
}

.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic,
.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic-2 {
  width: 100%;
  height: 100%;
  background-image: url(../img/photo_6.jpg);
}


.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic-3 {
  background-image: url(../img/photo_8.png);
  -webkit-clip-path: polygon(100% 74%, 3% 0, 100% 100%);
          clip-path: polygon(100% 74%, 3% 0, 100% 100%);
  opacity: 1;
}

.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 101%);
          clip-path: polygon(0 0, 100% 0, 100% 101%);
  color: white;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}


.container .container-wrap .content .page-txt-img .text-wrap .text-wrap_img-wrap .bg-my-pic-2 {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
  color: white;
  -webkit-animation: colorChange 10s linear infinite both;
          animation: colorChange 10s linear infinite both;
}

.container .container-wrap .content .page-txt-img .txt-p1 {
  font-size: 4rem;
  margin: 1rem 2rem;
  padding: 2rem 15rem;
}

.container .container-wrap .content .page-txt-img .page-txt-img_box {
  width: 100%;
  height: auto;
}

.container .container-wrap .content .page-txt-img .page-txt-img_box .img_box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0%, 83% 34%, 100% 100%, 46% 68%, 0 38%);
          clip-path: polygon(50% 0%, 83% 34%, 100% 100%, 46% 68%, 0 38%);
}

.container .container-wrap .content .page-txt-img .page-txt-img_box .img_box-wrap img {
  width: 100%;
  opacity: 1;
  -webkit-clip-path: polygon(50% 0%, 83% 34%, 100% 100%, 46% 68%, 0 38%);
          clip-path: polygon(50% 0%, 83% 34%, 100% 100%, 46% 68%, 0 38%);
}

.container .container-wrap .content .page-txt-img .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .container-wrap .content .padding-0 {
  padding: 0;
}

.container .container-wrap .content .bg-grey-light {
  background-color: #f3f3f3;
}

.container .container-wrap .content .bx {
  opacity: 0;
}

.container .container-wrap .content .li-visible {
  -webkit-animation: swing-in-bottom-fwd 1.5s cubic-bezier(0.44, 0.94, 0.17, 1.38) both;
          animation: swing-in-bottom-fwd 1.5s cubic-bezier(0.44, 0.94, 0.17, 1.38) both;
}

.container .container-wrap .content .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}

@-webkit-keyframes loadOpacity {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadOpacity {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    text-shadow: 0 -10px 1px rgba(0, 78, 179, 0.418);
  }
  100% {
    text-shadow: 0 -10px 1px rgba(0, 78, 179, 0.418);
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes arrowDown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    text-shadow: 0 -10px 1px rgba(0, 78, 179, 0.418);
  }
  100% {
    text-shadow: 0 -10px 1px rgba(0, 78, 179, 0.418);
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

@-webkit-keyframes bounce-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-6.5px);
            transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-6.5px);
            transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@-webkit-keyframes colorChange {
  0% {
    color: #0094d8;
  }
  25% {
    color: #cb00f3;
  }
  50% {
    color: white;
  }
  75% {
    color: #1ba000;
  }
  100% {
    color: #0094d8;
  }
}

@keyframes colorChange {
  0% {
    color: #0094d8;
  }
  25% {
    color: #cb00f3;
  }
  50% {
    color: white;
  }
  75% {
    color: #1ba000;
  }
  100% {
    color: #0094d8;
  }
}

@-webkit-keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
            transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}

@keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
            transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}

.alert,
.close-btn,
.alert-success {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 8rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  z-index: 10;
}

.alert-warning {
  background-color: #ffd0d0;
  border-color: maroon;
  color: maroon;
}

.alert-success {
  background-color: #c6ffc6;
  border-color: green;
  color: green;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-alert {
  display: none;
}

.hide-alert {
  -webkit-animation: hide-alert 3s linear 1 both;
          animation: hide-alert 3s linear 1 both;
}

@-webkit-keyframes hide-alert {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide-alert {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  -webkit-transition: .5s linear;
  transition: .5s linear;
  z-index: 100;
}

.navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.navbar .nav-container .mj-logo,
.navbar .nav-container .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-filter: drop-shadow(2px 2px 1px #3f3e3e);
          filter: drop-shadow(2px 2px 1px #3f3e3e);
  font-family: 'Roboto', sans-serif;
}

.navbar .nav-container .mj-logo {
  width: 25%;
}

.navbar .nav-container .mj-logo h1 {
  color: rgba(0, 78, 179, 0.418);
  font-size: 3.5rem;
  font-family: 'Dancing Script', cursive;
}

.navbar .nav-container .nav-ul {
  width: 50%;
}

.navbar .nav-container .nav-ul li {
  list-style: none;
  margin: 0 20px;
}

.navbar .nav-container .nav-ul li a {
  position: relative;
  display: block;
  padding: 5px 20px;
  font-size: 1.8rem;
  text-decoration: none;
  color: rgba(0, 78, 179, 0.418);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: center;
  overflow: hidden;
}

.navbar .nav-container .nav-ul li a:hover {
  color: white;
}

.navbar .nav-container .nav-ul li a::after {
  position: absolute;
  content: "";
  bottom: 1px;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 78, 179, 0.418);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.navbar .nav-container .nav-ul li a:hover::after {
  left: 0;
}

.navbar-scrolled {
  height: 5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #202020;
}

footer .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

footer .footer_container .f_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  color: #c9c9c9;
}

footer .footer_container .f_box p {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
}

footer .footer_container .f_box a {
  padding: 1rem;
  text-decoration: none;
  color: #c9c9c9;
}

footer .footer_container .f_box a .fab {
  font-size: 2.2rem;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer .footer_container .f_box a .fa-instagram:hover {
  color: #e669ff;
}

footer .footer_container .f_box a .fa-facebook-f:hover {
  color: #3160fc;
}

footer .footer_container .f_box a .fab:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */