* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: black;
}

.enter-animation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1001;
    animation: slide-out-blurred-right 1s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;

    h1 {
        color: rgb(0, 97, 177);
        font-size: 17.5rem;
        font-family: 'Dancing Script', cursive;
    }

}

//font-family: 'Dancing Script', cursive;
// font-family: 'Economica', sans-serif;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Ultra', serif;
.aside-float-box-container {
    position: fixed;
    top: 10rem;
    right: 0;
    padding: 1.5rem 1rem 1.5rem 4rem;
    background-color: $blue;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    z-index: 20;
    animation: bounce-left 0.8s 1.1s 1 both;


    h1 {
        color: white;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
    }


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: $background_color;

    .container-wrap {
        @extend .container;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;

            .h1-home-header {
                font-size: 12rem;
                text-transform: uppercase;
                text-align: center;
                color: rgb(255, 255, 255);
                font-family: 'Kaushan Script', cursive;
                text-shadow: 10px 12px 10px rgba(184, 184, 184, 0.685), 5px 10px 10px $blue;

            }

            .arrow-down {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 10rem;
                left: 50%;
                transform: translateX(-50%);
                width: 5rem;
                height: 5rem;

                .fa-chevron-down {
                    font-size: 3rem;
                    color: $blue;
                    animation: arrowDown 2s linear infinite both;

                    ;
                }
            }

            .arrow-down-hidden {
                opacity: 0;
                transition: 2s linear;
            }

            .arrow-none {
                display: none;
            }
        }

        .header-2 {
            height: 40vh;
            animation: loadOpacity 1s linear 1 both;

            .h1-home-header {
                font-size: 6rem;
                text-shadow: 5px 12px 20px rgba(114, 114, 114, 0.685);
            }
        }

        .h1_contact {
            color: $font_color;
            font-family: 'Economica', sans-serif;
            font-size: 8rem;
            margin: 50px;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            max-width: 1920px;

            height: auto;
            min-height: 80vh;
            font-family: 'Economica', sans-serif;

            .blue-sq {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                min-width: 900px;
                height: auto;
                min-height: 700px;
                border: 8px solid $blue;
                margin-bottom: 250px;

                .blue-sq-txt {
                    position: absolute;
                    top: 30%;
                    right: -15%;
                    // transform: translate(-50%, -50%);
                    padding: 40px 50px;
                    background-color: $background_color;

                    .blue-sq-txt-h1,
                    .blue-sq-txt-p {
                        color: $font_color;
                        font-family: 'Economica', sans-serif;
                    }

                    .blue-sq-txt-h1 {
                        font-size: 8rem;

                    }

                    .blue-sq-txt-p {
                        font-size: 1.8rem;
                    }
                }

                .sign {
                    position: absolute;
                    bottom: 30px;
                    right: 40px;
                    font-size: 2rem;
                    font-family: 'Dancing Script', cursive;
                }

                .img-container {
                    position: absolute;
                }

                .contact-form {
                    margin: 5rem;

                    form {
                        padding: 80px 100px;
                        box-shadow: 2px -2px 35px 2px rgba(128, 128, 128, 0.733), -2px 2px 45px 2px $blue;
                        border-radius: 10px;

                        .input-wrap {
                            font-family: 'Kaushan Script', cursive;
                            color: $blue;

                            label {
                                font-size: 1.4rem;
                            }

                            .input {
                                font-family: 'Kaushan Script', cursive;
                                border: none;
                                border-bottom: 1px solid $blue;
                                margin-bottom: 1rem;
                                padding: 5px;
                                outline-style: none;
                                color: $font_color;
                            }

                            .textarea {
                                border: 1px solid $blue;
                            }

                            .input:focus {
                                border-bottom: 2px solid $dark_blue;
                            }

                            .textarea:focus {
                                border: 1px solid $dark_blue;
                                background-color: rgba(216, 240, 240, 0.616);
                            }

                            .submit {
                                background-color: $blue;
                                width: 100%;
                                color: white;
                                text-align: center;
                                padding: 10px 0;
                                border: none;
                                border-radius: 1rem;
                                transition: .15s ease-in-out;
                            }

                            .submit:hover {
                                box-shadow: 0 0 10px 2px $font_color;
                            }
                        }
                    }
                }

                .img-container {
                    bottom: 25%;
                    left: 0;
                    width: 50%;
                    height: 50%;

                    img {
                        width: 120%;
                    }
                }
            }

            .img-txt-wrap {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                height: auto;
                z-index: 10;


                .img-txt_img,
                .img-txt_txt {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 600px;
                    height: 700px;
                    font-family: 'Economica', sans-serif;
                }

                .img-txt_img {
                    filter: drop-shadow(0 -30px 100px rgb(41, 41, 41));

                    .img-wrap {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        // background-color: rgba(0, 84, 99, 0.219);

                        img {
                            width: 110%;
                        }
                    }
                }

                .img-txt_txt {
                    flex-direction: column;
                    color: $font_color;

                    h1 {
                        font-size: $content_h1;
                    }

                    p {
                        font-size: $content_p;
                    }
                }
            }

            .flex-reverse {
                flex-direction: row-reverse;

                .img-txt_img {
                    .img-wrap {
                        img {
                            mask-image: url(../img/photo_4.png);
                            width: 140%;
                        }
                    }
                }
            }

            //about
            .page-txt-img {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: auto;
                min-height: 50vh;
                padding: 50px;

                .bg-man {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/photo_5.jpg);
                    background-repeat: no-repeat;
                    background-size: 80%;
                    clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0% 100%);
                    mask-image: url(../img/photo_7.png);
                }

                .h1-title-section-wrap {
                    width: 100%;
                    height: auto;
                    padding: 5rem;



                    .right-h1 {
                        position: absolute;
                        top: 2rem;
                        left: 2rem;
                        font-size: 10rem;
                        padding: 1rem 3rem 1rem 12rem;
                        clip-path: polygon(100% 22%, 1% 48%, 100% 79%);
                    }

                    .mk-1 {
                        clip-path: polygon(100% 0, 0 100%, 0 0);
                        color: $blue;
                    }

                    .mk-2 {

                        color: rgb(0, 47, 109);
                        filter: drop-shadow(-5px -5px 2px rgba(99, 99, 99, 0.589));
                    }
                }


                .text-wrap {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: wrap;

                    position: relative;
                    width: 100%;
                    padding: 20px 100px;
                    z-index: 1;
                    font-family: 'Economica', sans-serif;

                    // background-color: yellowgreen;
                    .h1_title {
                        font-size: 9.5rem;
                        margin-bottom: 2rem;
                    }

                    p {
                        font-size: 4.5rem;
                        padding: 1rem 0;
                    }

                    .h1_title,
                    p {
                        color: $font_color;
                        text-shadow: 1px 1px 1px white;
                        text-align: center;
                    }

                    .p-small,
                    .p-big {
                        padding: 4rem;
                    }

                    .p-small {
                        width: 50%;
                    }

                    .p-big {
                        width: 90%;
                        font-size: 6rem;

                    }






                    blockquote {
                        padding: 9rem 2rem;
                        margin: 15rem 0;
                        font-size: 5.5rem;
                        text-shadow: 2px 2px 3px rgb(0, 0, 0);
                        font-family: 'Kaushan Script', cursive;
                        text-align: center;
                        background-color: rgba(44, 44, 44, 0.384);
                        clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
                        color: white;

                        .blockquote-span-big {
                            font-weight: 700;
                            color: rgb(255, 196, 0);
                        }

                        .author-span {
                            display: block;
                            font-weight: 400;
                            font-size: 3.5rem;
                            font-family: 'Calligraffitti', cursive;
                            text-align: right;
                            color: white;
                        }

                        .q-quotes {
                            quotes: "„""“""‚""‘";
                        }
                    }

                    .text-wrap_img-wrap {
                        position: relative;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        // flex-direction: row;
                        width: 50%;
                        height: auto;
                        min-height: 50vh;
                        // padding: 50px 0;


                        .bg-my-pic,
                        .bg-my-pic-2,
                        .bg-my-pic-3 {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position: left;
                            z-index: 0;
                            font-size: 6rem;
                        }


                        .bg-my-pic-3 {
                            width: 100%;
                            height: 100%;
                        }



                        .bg-my-pic,
                        .bg-my-pic-2 {
                            width: 100%;
                            height: 100%;
                            // right: 10%;
                            background-image: url(../img/photo_6.jpg);
                            // border-radius: 20px;
                        }

                        .bg-my-pic-3 {
                            background-image: url(../img/photo_8.png);
                            clip-path: polygon(100% 74%, 3% 0, 100% 100%);
                            opacity: 1;
                        }

                        .bg-my-pic {
                            clip-path: polygon(0 0, 100% 0, 100% 101%);
                            color: white;
                            filter: grayscale(100%);
                        }

                        .bg-my-pic-2 {

                            filter: grayscale(0);
                            clip-path: polygon(0 0, 0% 100%, 100% 100%);
                            color: white;
                            animation: colorChange 10s linear infinite both;
                        }


                    }
                }

                .txt-p1 {
                    font-size: 4rem;
                    margin: 1rem 2rem;
                    // margin-top: 5rem;
                    padding: 2rem 15rem;
                    // line-height: 10rem;
                }



                .page-txt-img_box {
                    width: 100%;
                    height: auto;

                    .img_box-wrap {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        clip-path: polygon(50% 0%, 83% 34%, 100% 100%, 46% 68%, 0 38%);


                        img {
                            width: 100%;
                            opacity: 1;
                            clip-path: polygon(50% 0%, 83% 34%, 100% 100%, 46% 68%, 0 38%);
                        }
                    }
                }

                .flex-row {
                    flex-direction: row;
                }
            }

            // .fd-reverse {
            //     flex-direction: row-reverse;
            // }



            .padding-0 {
                padding: 0;
            }

            .bg-grey-light {

                background-color: rgb(243, 243, 243);
            }

            .bx {
                opacity: 0;
            }

            .li-visible {
                animation: swing-in-bottom-fwd 1.5s cubic-bezier(0.44, 0.94, 0.17, 1.38) both;

            }

            .flex-row {
                flex-direction: row;
            }
        }
    }
}

@keyframes swing-in-bottom-fwd {
    0% {
        transform: rotateX(100deg);
        transform-origin: bottom;
        opacity: 0;
    }

    100% {
        transform: rotateX(0);
        transform-origin: bottom;
        opacity: 1;
    }
}

@keyframes loadOpacity {

    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        text-shadow: 0 -10px 1px $blue;
    }

    100% {
        text-shadow: 0 -10px 1px $blue;
        transform: translateY(50px);
        opacity: 0;
    }
}

@keyframes bounce-left {
    0% {
        transform: translateX(100px);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        transform: translateX(-26px);
        animation-timing-function: ease-in;
    }

    65% {
        transform: translateX(-13px);
        animation-timing-function: ease-in;
    }

    82% {
        transform: translateX(-6.5px);
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateX(-4px);
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        transform: translateX(0px);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateX(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
        color: rgb(0, 148, 216);
    }

    25% {
        color: rgb(203, 0, 243);
    }


    50% {
        color: rgb(255, 255, 255);
    }

    75% {
        color: rgb(27, 160, 0);
    }

    100% {
        color: rgb(0, 148, 216);
    }
}

@keyframes slide-out-blurred-right {
    0% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }

    100% {
        transform: translateX(1000px) scaleX(2) scaleY(0.2);
        transform-origin: 0% 50%;
        filter: blur(40px);
        opacity: 0;
    }
}