* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;

}

::selection {
    color: white;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

.enter-animation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 1001;
    animation: slide-out-blurred-right 3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;

    h1 {
        text-align: center;


        .letter_entarance {
            display: inline-block;
            color: $blue;
            font-size: 17.5rem;
            font-family: 'Dancing Script', cursive;
        }
    }


}

//font-family: 'Dancing Script', cursive;
// font-family: 'Economica', sans-serif;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Ultra', serif;
.aside-float-box-container {
    position: fixed;
    top: 10rem;
    right: 0;
    padding: 1.5rem 1rem 1.5rem 4rem;
    background-color: $blue;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    z-index: 20;
    animation: bounce-left 0.8s 4s 1 both;


    h1 {
        color: white;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
    }


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: $background_color;
    overflow: hidden;

    .container-wrap {
        @extend .container;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;

            .h1-home-header {
                width: 100%;
                font-size: 10rem;
                text-transform: uppercase;
                text-align: center;
                color: $blue;
                font-family: 'Kaushan Script', cursive;
                text-shadow: 10px 12px 1px rgba(0, 66, 141, 0.267);
            }

            .letter_header {
                display: inline-block;
            }

            .arrow-down {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 10rem;
                left: 50%;
                transform: translateX(-50%);
                width: 5rem;
                height: 5rem;

                .fa-chevron-down {
                    font-size: 3rem;
                    color: $blue;
                    animation: arrowDown 2s linear infinite both;
                }
            }

            .arrow-down-hidden {
                opacity: 0;
                transition: 2s linear;
            }

            .arrow-none {
                display: none;
            }
        }

        .h1_contact {
            color: $font_color;
            font-family: 'Economica', sans-serif;
            font-size: 8rem;
            margin: 50px;

            a {
                color: black;

            }
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            max-width: 1920px;

            height: auto;
            min-height: 20vh;
            font-family: 'Economica', sans-serif;

            .blue-sq {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                min-width: 900px;
                height: auto;
                min-height: 700px;
                border: 8px solid $blue;
                margin-bottom: 250px;


                .blue-sq-txt {
                    position: absolute;
                    top: 30%;
                    right: -15%;
                    padding: 40px 50px;
                    background-color: $background_color;

                    .blue-sq-txt-h1,
                    .blue-sq-txt-p {
                        color: $font_color;
                        font-family: 'Economica', sans-serif;
                    }

                    .blue-sq-txt-h1 {
                        font-size: 8rem;
                    }

                    .blue-sq-txt-p {
                        font-size: 1.8rem;
                    }
                }

                .sign {
                    position: absolute;
                    bottom: 30px;
                    right: 40px;
                    font-size: 2rem;
                    font-family: 'Dancing Script', cursive;
                }

                .img-container {
                    position: absolute;
                }

                .contact-form {
                    margin: 5rem;

                    form {
                        padding: 80px 100px;
                        box-shadow: 2px -2px 35px 2px rgba(128, 128, 128, 0.733);
                        border-radius: 10px;

                        .input-wrap {
                            font-family: 'Kaushan Script', cursive;
                            color: $blue;

                            label {
                                font-size: 1.4rem;
                            }

                            .input {
                                font-family: 'Kaushan Script', cursive;
                                border: none;
                                border-bottom: 1px solid $blue;
                                margin-bottom: 1rem;
                                padding: 5px;
                                outline-style: none;
                                color: $font_color;
                            }

                            .textarea {
                                border: 1px solid $blue;
                            }

                            .input:focus {
                                border-bottom: 2px solid $dark_blue;
                            }

                            .textarea:focus {
                                border: 1px solid $dark_blue;
                                background-color: rgba(216, 240, 240, 0.616);
                            }

                            .submit {
                                background-color: $blue;
                                width: 100%;
                                color: white;
                                text-align: center;
                                padding: 10px 0;
                                border: none;
                                border-radius: 1rem;
                                transition: .15s ease-in-out;
                            }

                            .submit:hover {
                                box-shadow: 0 0 10px 2px $font_color;
                            }
                        }
                    }
                }

                .img-container {
                    bottom: 25%;
                    left: 0;
                    width: 50%;
                    height: 50%;


                    img {
                        width: 120%;
                    }
                }
            }

            .img-txt-wrap {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                flex-wrap: wrap;
                width: 100%;
                height: auto;
                z-index: 10;


                .img-txt_img,
                .img-txt_txt {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 600px;
                    height: 700px;
                    // width: 40%;
                    // height: 700px;
                    font-family: 'Economica', sans-serif;
                    // background-color: grey;

                }

                .img-txt_img {
                    filter: drop-shadow(0 -30px 100px rgba(107, 107, 107, 0.644));


                    .img-wrap {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 110%;
                        }
                    }
                }

                .img-txt_txt {
                    flex-direction: column;
                    color: $font_color;
                    margin: 0 3rem;

                    h1 {
                        text-align: center;
                        font-size: $content_h1;
                    }

                    p {
                        text-align: left;
                        font-size: $content_p;
                        text-indent: 30px;
                    }
                }
            }

            .flex-reverse {
                flex-direction: row-reverse;

                .img-txt_img {
                    .img-wrap {
                        img {
                            mask-image: url(../img/photo_4.png);
                            width: 140%;
                        }
                    }
                }
            }


            .page-txt-img {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: auto;
                min-height: 20vh;
                // padding: 50px;
                background-color: rgba(189, 189, 189, 0.082);

                // .bg-man {
                //     position: absolute;
                //     width: 100%;
                //     height: 100%;
                //     background-image: url(../img/photo_5.jpg);
                //     background-repeat: no-repeat;
                //     background-size: 80%;
                //     clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0% 100%);
                //     mask-image: url(../img/photo_7.png);
                //     opacity: .5;
                // }

                .h1-title-section-wrap {
                    position: relative;
                    width: auto;
                    min-width: 30%;
                    height: auto;
                    padding: 10rem;

                    .right-h1 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        transform: translateY(-50%);
                        font-size: 10rem;
                        clip-path: polygon(0 41%, 100% 73%, 100% 0, 0 0);

                    }

                    .mk-1 {
                        clip-path: polygon(0 41%, 100% 73%, 100% 100%, 0% 100%);
                        color: $blue;
                        border: 5px solid $blue;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                    }

                    .mk-2 {
                        border: 5px solid rgba(0, 0, 0, 0);
                        color: rgb(0, 47, 109);
                        filter: drop-shadow(-5px -5px 2px rgba(99, 99, 99, 0.589));
                    }
                }


                .text-wrap {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                    position: relative;
                    width: 100%;
                    padding: 20px 100px;
                    z-index: 1;
                    font-family: 'Economica', sans-serif;

                    .h1_title {
                        font-size: 9.5rem;
                        margin-bottom: 2rem;
                    }

                    p {
                        font-size: 4.5rem;
                        padding: 1rem 0;
                    }

                    .h1_title,
                    p {
                        color: $font_color;
                        text-shadow: 1px 1px 1px white;
                        text-align: center;
                    }

                    .p-small,
                    .p-big {
                        padding: 4rem;
                    }

                    .p-small {
                        width: 50%;

                        a {
                            text-decoration: none;
                            color: black;
                            font-weight: 700;
                        }
                    }

                    .p-big {
                        width: 90%;
                        font-size: 6rem;
                    }

                    .text-wrap_img-wrap {
                        position: relative;
                        width: 50%;
                        height: auto;
                        min-height: 50vh;



                        .bg-my-pic {
                            position: absolute;
                            // display: flex;
                            // justify-content: center;
                            // align-items: flex-end;

                            width: 100%;
                            height: 100%;
                            background-image: url(../img/photo_6.jpg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            // border-radius: 1rem;

                            z-index: 0;
                            // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                            // clip-path: circle(40% at 50% 50%);
                            filter: grayscale(95%);
                        }
                    }
                }

                .txt-p1 {
                    font-size: 4rem;
                    margin: 1rem 2rem;
                    padding: 2rem 15rem;

                }



                // .page-txt-img_box {
                //     width: 100%;
                //     height: auto;

                // .img_box-wrap {
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     width: 100%;
                //     height: 100%;
                //     // overflow: hidden;
                //     clip-path: polygon(50% 0%, 83% 34%, 100% 100%, 46% 68%, 0 38%);


                //     img {
                //         width: 100%;
                //         opacity: 1;
                //         clip-path: polygon(50% 0%, 83% 34%, 100% 100%, 46% 68%, 0 38%);
                //     }
                // }
                // }

                .flex-row {
                    flex-direction: row;
                }
            }

            // .fd-reverse {
            //     flex-direction: row-reverse;
            // }



            .padding-0 {
                padding: 0;
            }

            .bg-grey-light {

                background-color: rgb(255, 250, 250);
            }

            .bx {
                opacity: 0;
            }

            .li-visible {
                animation: swing-in-bottom-fwd 1.2s cubic-bezier(0.44, 0.94, 0.17, 1.38) both;

            }

            .flex-row {
                flex-direction: row;
            }
        }
    }
}


@media(max-width:1366px) {
    // .aside-float-box-container {
    //     display: none;
    // }

    .enter-animation {
        h1 {
            font-size: 5rem;
        }
    }

    .container {

        .container-wrap {
            .header {
                .h1-home-header {
                    font-size: 9rem;
                }

                .arrow-down {
                    bottom: 4rem;

                    .fa-chevron-down {
                        font-size: 2.5rem;
                    }
                }

            }

            .content {
                .blue-sq {
                    min-width: 700px;
                    min-height: 600px;
                    border-width: 7px;

                    .blue-sq-txt {

                        .blue-sq-txt-h1 {
                            font-size: 7.5rem;
                        }

                        .blue-sq-txt-p {
                            font-size: 1.9rem;
                        }
                    }
                }

                //zdjecia telefonu i komputera
                .img-txt-wrap {

                    .img-txt_img,
                    .img-txt_txt {
                        width: 450px;
                        height: 550px;
                    }

                    .img-txt_img {
                        .img-wrap {
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .img-txt_txt {
                        h1 {
                            font-size: 7rem;
                        }

                        p {
                            font-size: 2rem;
                        }
                    }
                }

                .page-txt-img {
                    padding-top: 6rem;

                    .h1-title-section-wrap {
                        width: 30%;

                        .right-h1 {
                            font-size: 7rem;

                        }
                    }

                    .text-wrap {

                        .p-small {
                            font-size: 3.5rem;
                            width: 50%;
                            padding: .5rem;
                        }

                        .text-wrap_img-wrap {
                            width: 50%;
                        }
                    }

                    .txt-p1 {
                        font-size: 3rem;
                        padding: .5rem 14rem;

                    }
                }

                .li-visible {
                    animation-duration: 2s;
                    // animation: swing-in-bottom-fwd 3s cubic-bezier(0.44, 0.94, 0.17, 1.38) both;

                }
            }

        }
    }
}

@media screen and (max-width:1024px) and (orientation:landscape) {
    // .aside-float-box-container {
    //     display: none;
    // }

    .enter-animation {
        h1 {
            .letter_entarance {
                font-size: 10rem;
            }
        }
    }

    .container {

        .container-wrap {
            .header {
                // .h1-home-header {
                //     font-size: 9rem;
                // }

                .arrow-down {
                    // bottom: 4rem;

                    .fa-chevron-down {
                        font-size: 2rem;
                    }
                }

            }

            .content {
                .blue-sq {
                    min-width: 600px;
                    min-height: 450px;
                    border-width: 5px;


                    .blue-sq-txt {
                        top: 15%;

                        .blue-sq-txt-h1 {
                            font-size: 5.5rem;
                        }

                        .blue-sq-txt-p {
                            font-size: 1.4rem;
                        }
                    }

                    //blue box dog
                    .img-container {
                        bottom: 15%;
                        left: 5%;
                        // width: 50%;
                        // height: 50%;


                        img {
                            width: 100%;
                        }
                    }
                }

                //zdjecia telefonu i komputera
                .img-txt-wrap {

                    // .img-txt_img,
                    // .img-txt_txt {
                    //     width: 450px;
                    //     height: 550px;
                    // }

                    .img-txt_img {
                        .img-wrap {
                            img {
                                width: 85%;
                            }
                        }
                    }

                    // .img-txt_txt {
                    //     h1 {
                    //         font-size: 7rem;
                    //     }

                    //     p {
                    //         font-size: 2rem;
                    //     }
                    // }
                }

                .page-txt-img {
                    padding: 6rem 0;

                    //tytuly sekcji
                    .h1-title-section-wrap {
                        width: 40%;

                        .right-h1 {
                            font-size: 6.5rem;

                        }
                    }

                    .text-wrap {

                        .p-small {
                            font-size: 3rem;
                            width: 45%;
                            // padding: .5rem;
                        }

                        .text-wrap_img-wrap {
                            width: 50%;
                        }
                    }

                    // .txt-p1 {
                    //     font-size: 3rem;
                    //     padding: .5rem 14rem;

                    // }
                }

                // .li-visible {
                //     animation-timing-function: 2s;
                // }
            }

        }
    }
}

@media (max-width:1024px) and (orientation:portrait) {
    // .aside-float-box-container {
    //     display: none;
    // }

    .enter-animation {
        h1 {
            .letter_entarance {
                font-size: 10rem;
            }
        }
    }

    .container {

        .container-wrap {
            .header {
                // .h1-home-header {
                //     font-size: 9rem;
                // }

                .arrow-down {
                    bottom: 6rem;

                    .fa-chevron-down {
                        font-size: 3rem;
                    }
                }

            }

            .content {
                .blue-sq {
                    min-width: 700px;
                    min-height: 650px;
                    border-width: 6px;


                    .blue-sq-txt {
                        top: 20%;

                        .blue-sq-txt-h1 {
                            font-size: 7.5rem;
                        }

                        .blue-sq-txt-p {
                            font-size: 1.8rem;
                        }
                    }

                    //blue box dog
                    .img-container {
                        bottom: 10%;
                        left: 5%;
                        // width: 50%;
                        // height: 50%;


                        img {
                            width: 120%;
                        }
                    }
                }

                //zdjecia telefonu i komputera
                .img-txt-wrap {
                    flex-direction: column-reverse;

                    .img-txt_img,
                    .img-txt_txt {
                        width: 80%;
                        height: 550px;
                    }

                    .img-txt_img {
                        .img-wrap {
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .img-txt_txt {
                        h1 {
                            font-size: 10rem;
                        }

                        p {
                            font-size: 4rem;
                        }
                    }
                }

                .page-txt-img {
                    padding: 1rem 0;

                    //tytuly sekcji
                    .h1-title-section-wrap {
                        width: 50%;

                        .right-h1 {
                            font-size: 8.5rem;

                        }
                    }

                    .text-wrap {

                        .p-small {
                            font-size: 5rem;
                            width: 100%;
                            // padding: .5rem;
                        }

                        .text-wrap_img-wrap {
                            width: 80%;
                            padding: 7rem 0;
                            height: 20vh;
                        }
                    }

                    .txt-p1 {
                        font-size: 5rem;
                        padding: .5rem 10rem;

                    }
                }

                // .li-visible {
                // animation-timing-function: 10s;
                // animation-duration: s;
                // }
            }

        }
    }
}

@media (max-width:800px) and (orientation:portrait) {
    .aside-float-box-container {
        display: none;
    }

    // .enter-animation {
    //     h1 {
    //         .letter_entarance {
    //             font-size: 10rem;
    //         }
    //     }
    // }

    .container {

        .container-wrap {
            .header {
                .h1-home-header {
                    font-size: 7rem;
                }

                // .arrow-down {
                //     bottom: 6rem;

                //     .fa-chevron-down {
                //         font-size: 3rem;
                //     }
                // }

            }

            .content {
                .blue-sq {
                    min-width: 80%;
                    min-height: 600px;
                    border-width: 5px;


                    .blue-sq-txt {
                        top: 10%;
                        right: 0;

                        .blue-sq-txt-h1 {
                            font-size: 7rem;
                        }

                        // .blue-sq-txt-p {
                        //     font-size: 1.8rem;
                        // }
                    }

                    //blue box dog
                    .img-container {
                        bottom: 0;
                        // left: 5%;
                        // width: 50%;
                        // height: 50%;


                        img {
                            width: 110%;
                        }
                    }
                }

                //zdjecia telefonu i komputera
                .img-txt-wrap {
                    flex-direction: column-reverse;

                    .img-txt_img,
                    .img-txt_txt {
                        width: 70%;
                        height: 500px;
                    }

                    // .img-txt_img {
                    //     .img-wrap {
                    //         img {
                    //             width: 100%;
                    //         }
                    //     }
                    // }

                    .img-txt_txt {
                        h1 {
                            font-size: 7rem;
                            margin-bottom: 3rem;
                        }

                        p {
                            font-size: 3rem;
                        }
                    }
                }

                .page-txt-img {
                    padding: 8rem 0;

                    //tytuly sekcji
                    .h1-title-section-wrap {
                        width: 50%;

                        .right-h1 {
                            font-size: 6.5rem;

                        }
                    }

                    .text-wrap {

                        .p-small {
                            font-size: 4rem;
                            // width: 100%;
                            // padding: .5rem;
                        }

                        .text-wrap_img-wrap {
                            // width: 80%;
                            padding: 7rem 0;
                            // height: 20vh;
                        }
                    }

                    .txt-p1 {
                        font-size: 4rem;
                        padding: 0 6rem;

                    }
                }

                // .li-visible {
                // animation-timing-function: 10s;
                // animation-duration: s;
                // }
            }

        }
    }
}


// @media(max-width:500px) {
//     // .aside-float-box-container {
//     //     display: none;
//     // }

//     .enter-animation {
//         h1 {
//             font-size: 9.5rem;
//         }
//     }

//     .container {

//         .container-wrap {
//             .header {
//                 .h1-home-header {
//                     font-size: 4.5rem;

//                 }

//                 .arrow-down {
//                     bottom: 2rem;

//                     .fa-chevron-down {
//                         font-size: 1.5rem;
//                     }
//                 }

//             }

//             .h1_contact {
//                 font-size: 4rem;
//             }

//             .content {
//                 .blue-sq {
//                     justify-content: space-between;
//                     flex-direction: column;
//                     min-width: 90%;
//                     max-width: 90%;
//                     min-height: 30vh;
//                     border-top-right-radius: 0;
//                     border-bottom-left-radius: 0;
//                     border-width: 4px;
//                     margin-bottom: 120px;

//                     .blue-sq-txt,
//                     .sign,
//                     .img-container {
//                         position: initial;
//                         padding: 3rem;
//                     }

//                     .blue-sq-txt {
//                         padding: 6rem 0;
//                     }

//                     .sign {
//                         margin: 3rem 0;
//                     }

//                     .contact-form {
//                         padding: 5rem 1rem;
//                         margin: 0 2rem 2rem;

//                         form {
//                             padding: 1rem;
//                             border-radius: 5px;
//                         }
//                     }

//                     .img-container {
//                         width: 80%;

//                         img {
//                             width: 130%;
//                             transform: translate(-50px, 50px);

//                         }

//                     }
//                 }

//                 .img-txt-wrap {

//                     .img-txt_img,
//                     .img-txt_txt {
//                         width: 100%;
//                         height: auto;
//                         min-height: 40vh;
//                     }

//                     .img-txt_img {
//                         filter: drop-shadow(0 -30px 100px rgba(41, 41, 41, 0.644));

//                         .img-wrap {
//                             padding: 20px;
//                             padding-bottom: 5rem;

//                             img {
//                                 width: 100%;
//                             }
//                         }
//                     }

//                     .img-txt_txt {
//                         // flex-direction: column;
//                         // color: $font_color;

//                         h1 {
//                             text-align: center;
//                             font-size: 7rem;
//                         }

//                         p {
//                             font-size: 2rem;
//                         }
//                     }
//                 }

//                 .flex-reverse {
//                     flex-direction: column-reverse;

//                     .img-txt_img {
//                         .img-wrap {
//                             img {

//                                 width: 90%;
//                             }
//                         }
//                     }
//                 }

//                 .flex-reverse-2 {
//                     flex-direction: column-reverse;
//                 }

//                 .page-txt-img {
//                     padding: 8rem 1rem 1rem;

//                     .h1-title-section-wrap {

//                         padding: 5rem 0;



//                         .right-h1 {
//                             // position: absolute;
//                             top: 3rem;
//                             left: 0;
//                             font-size: 7rem;
//                             padding: 1rem;
//                             padding-left: 3rem;
//                             clip-path: polygon(100% 22%, 1% 48%, 100% 89%);
//                         }

//                         .mk-1 {
//                             clip-path: polygon(100% 80%, 0 100%, 0 0);
//                             color: $blue;
//                         }

//                     }

//                     .text-wrap {
//                         flex-direction: column;
//                         padding: .5rem;

//                         .img-txt_img,
//                         .img-txt_txt {
//                             width: 100%;
//                             height: auto;
//                         }

//                         p {
//                             font-size: 3rem;
//                         }

//                         .p-small {
//                             width: 100%;
//                             padding: .5rem;
//                         }

//                         .text-wrap_img-wrap {
//                             width: 100%;
//                         }

//                     }

//                     .txt-p1 {
//                         font-size: 3rem;
//                         padding: .5rem;

//                     }



//                 }

//                 .li-visible {
//                     animation: swing-in-bottom-fwd 3s cubic-bezier(0.44, 0.94, 0.17, 1.38) both;

//                 }
//             }

//         }
//     }
// }





@keyframes swing-in-bottom-fwd {
    0% {
        transform: rotateX(100deg);
        transform-origin: bottom;
        opacity: 0;
    }

    100% {
        transform: rotateX(0);
        transform-origin: bottom;
        opacity: 1;
    }
}

@keyframes loadOpacity {

    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        text-shadow: 0 -10px 1px $blue;
    }

    100% {
        text-shadow: 0 -10px 1px $blue;
        transform: translateY(50px);
        opacity: 0;
    }
}

@keyframes bounce-left {
    0% {
        transform: translateX(100px);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        transform: translateX(-26px);
        animation-timing-function: ease-in;
    }

    65% {
        transform: translateX(-13px);
        animation-timing-function: ease-in;
    }

    82% {
        transform: translateX(-6.5px);
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateX(-4px);
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        transform: translateX(0px);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateX(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

// @keyframes colorChange {
//     0% {
//         color: rgb(0, 148, 216);
//     }

//     25% {
//         color: rgb(203, 0, 243);
//     }


//     50% {
//         color: rgb(255, 255, 255);
//     }

//     75% {
//         color: rgb(27, 160, 0);
//     }

//     100% {
//         color: rgb(0, 148, 216);
//     }
// }


//--------------------------------------------------------Animation - entrence

@keyframes slide-out-blurred-right {
    0% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }

    50% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }

    100% {
        transform: translateX(1000px) scaleX(2) scaleY(1);
        transform-origin: 0% 50%;
        filter: blur(40px);
        opacity: 0;
        z-index: -1;
    }
}